<h1>Login</h1>
<%#= form_tag sessions_path do %>
<%= form_for :sessions, url: '/login' do |f| %>
<label> Email: </label><br>
<%= f.text_field :email %><br>
<label> Password: </label><br>
<%= f.text_field :password %>
<%= f.submit 'Submit'%>


<% end %>

<%= link_to "Log In with Facebook", '/auth/facebook' %>
<%= link_to "Log In with GitHub", '/auth/github' %>