<h1>Enter Your Startup</h1>

<%= form_for @startup do |f| %>
<%= category_id_field(@startup)%>
<br>

<%= f.label :company %>
<%= f.text_field :company %>
<%= f.label :innovation %>
<%= f.text_field :innovation %>
<%= f.label :product %>
<%= f.check_box :product %>
<%= f.label :location %>
<%= f.text_field :location %>

<%= f.hidden_field :user_id %>

<br />

<%= f.submit 'Submit'%>
<% end %>