<h1>Innovative Startups</h1>

<% @categories.each do |category| %>
<li><%= link_to category.name, category %></li>
<ul>
<% category.startups.each do |startup| %>
<li><%= startup.company %>, <%= startup.innovation %>, <%= startup.product %>, <%= startup.location %></li>
<% end %>

</ul>

<% end %>

<%= form_tag categories_path, :method => "get" do %>
<%= label_tag(:search, "Search Startups by Category:") %>
<%= text_field_tag :search %>
<%= submit_tag("Search") %>
<% end %>