<!DOCTYPE html>
<html>
  <head>
    <title>OrdinaryStartups</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application'%>
   
    
    
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <span class="button is-primary">
            
            <%= link_to "Sign Up", controller: "users", action: "new" %>
          </span>
          <a class="button is-light">
            
            <%= link_to "Log In", controller: "sessions", action: "new" %>
          </a>
          <a class="button is-light">
            
            <%= link_to "Log In with Facebook", '/auth/facebook'%>
          </a>
          <a class="button is-light">
            
            <%= link_to "Log In with GitHub", '/auth/github'%>
          </a>
          <a class="button is-light">
            
            <%= link_to "Log Out", logout_path, method: :post %>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

  <%#= link_to "Sign Up", controller: "users", action: "new" %>
  <li class="active"><a href="/">Home</a></li>
  <li><%= link_to "Startups", startups_path %></li>
  <li><%= link_to "New Startups", new_startup_path %></li>
  <li><%= link_to "Startups by Categories", categories_path %></li>
  <li><%= link_to "Create a New Category", new_category_path %></li>
  <%#= link_to "Log Out", logout_path, method: :post %>
  
  
   </head>

  <body>
    <%= yield %>

    
    
  </body>

</html>
